.calculator {
    width: 300px;
    margin: 250px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 95%;
    height: 40px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button {
    width: 25%;
    height: 40px;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ccc;
}

button:active {
    background-color: #aaa;
}

.num {
    background-color: #f0f0f0;
}
.op {
    background-color: #ffff99;
}

.eq {
    background-color: #99ff99;
}

.clear {
    background-color: #ff9999;
}
